@import "header.scss";
@import "footer.scss";

body {
    display:flex;
    flex-direction: column;
    background: #3b4a6b;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    min-height: 100vh;
}

main {
    flex: 3;
}
#app {
    color: #3b4a6b;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#cityImg {
    max-height: 60%;
    max-width: 100%;
}

.entry {
    display: flex;
    flex-direction: column;
    background-color: #79ccfc;
    padding: 1%;
}

.formWrapper {
    padding: 1%;
    background-color: #79ccfc;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 340px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 2px 3px #444;
}

input:hover {
    border: 1px solid #3b4a6b;
    box-shadow:1px 1px 5px #3b4a6b;
 }

button {
    width: 100%;
    height: 10%;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 2%;
}

button:hover {
    color: #22b2da;
    box-shadow: 1px 3px 5px #444;
}
h1 {
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 1100px) {
    .inputWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}